.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-group-1 {
  width: 713px;
  min-height: 255px;
  height: auto;
  margin: 67px auto 60px 183px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 30px;
}

.u-section-1 .u-icon-1 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 86px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -31px auto 0 146px;
}

.u-section-1 .u-icon-2 {
  width: 42px;
  height: 42px;
  margin: -88px auto 0 86px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 90px;
  }
}